<div class="pull-right">
    <form action="" class="form-inline" method="GET">

        {% for filter, class in adminClass.listFilter %}

            {% set selected = selectedFilters[filter] is defined and selectedFilters[filter] ? selectedFilters[filter] : -1 %}
            <select name="filter[{{ filter }}]" class="form-control input-sm" style="display: inline;max-width: 125px;">
                <option value="">{{ (module ~ '.filter_' ~ filter)|trans }}</option>
                {% for key, value in filters[filter] %}
                    {% set key = value.id is defined ? value.id : key %}
                    <option value="{{ key }}"{% if key == selected %} selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        {% endfor %}

        <input type="submit" class="btn btn-default btn-sm" value="{% trans %}obcms.list.filters_filter{% endtrans %}">

        {% if selectedFilters|length > 0 %}
            <a href="{{ path('ObCmsBundle_module_list', { 'name': module }) }}" class="btn btn-link btn-sm">
                reset
            </a>
        {% endif %}
    </form>
</div>
