{% extends "ObCmsBundle::layout.html.twig" %}

{% form_theme form 'ObCmsBundle:Form:fields.html.twig' %}

{% block content %}
    <div class="space">
        <div class="page-header">
            <h1>{{ (module ~ '.new_title')|trans }}</h1>
        </div>

        <form action="{{ path('ObCmsBundle_module_create', { 'name': module }) }}"
              method="post" {{ form_enctype(form) }} class="form-horizontal" id="form">

            {{ form_rest(form) }}
        </form>
    </div>

    <div class="form-actions">
        <ul class="record_actions unstyled pull-right">
            <li>
                <a id="submit" class="btn btn-primary">{% trans %}obcms.form.new{% endtrans %}</a>
            </li>
            <li>
                <a class="btn" href="{{ path('ObCmsBundle_module_list', { 'name': module }) }}">
                    {% trans %}obcms.form.back_to_list{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#submit').click(function() {
                $('#form').submit();
            });
        });
    </script>
{% endblock %}