{% extends templates['layout'] %}

{% form_theme form templates['fields'] %}

{% block content %}
    {% set backUrl = referer ? : path('ObCmsBundle_module_list', { 'name': module }) %}

    <div class="text-right">
        <a href="{{ backUrl }}" class="btn btn-link" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans %}obcms.form.back_to_list{% endtrans %}
        </a>
    </div>

    <h1 class="h3 page-header">{% block page_header %}{% endblock %}</h1>

    <form method="post" {{ form_enctype(form) }} id="ob_cms-form" class="form">
        <fieldset>
            {% block form_rows %}
                {{ form_rest(form) }}
            {% endblock %}

            <div class="form-group text-right">
                <a href="{{ backUrl }}" class="btn btn-default" role="button">
                    {% trans %}obcms.form.cancel{% endtrans %}
                </a>
                <button type="submit" class="btn btn-primary" form="ob_cms-form">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    {% trans %}obcms.form.edit{% endtrans %}
                </button>
            </div>
        </fieldset>
    </form>

    {% if adminClass.inlineAdmin is defined %}
        {% for relationName, adminClass in adminClass.inlineAdmin %}
            {% set entities = attribute(entity, relationName) %}
            {% set module = relationName %}

            <h2 class="h4 page-header">{{ (module ~ '.list_header')|trans }}</h2>

            <div>
                {% include templates['table'] %}
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}