{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
    {% if datepicker is defined %}
        <div class="input-group date">
            {% if widget_addon_prepend|default(null) is not null %}
                {% set widget_addon = widget_addon_prepend %}
                {{ block('widget_addon') }}
            {% endif %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable grd-white form-control'}) %}
            <input type="text" {{ block('widget_attributes') }} value="{{ value }}"  data-form="datepicker" data-date-format="{{ format|lower }}"/>
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $({{ id }}).datepicker({
                        format: "yyyy-mm-dd",
                        todayBtn: true,
                        autoclose: true,
                        todayHighlight: true
                    });
                    $({{ id }}).keydown(function(e) {
                        if(e.which == 27) {
                            $({{ id }}).datepicker('hide');
                                return false;
                            }
                        });
                });
            </script>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
    {{ block('form_message') }}
{% else %}
    {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
        {{ date_pattern|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
            '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
            '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-lg-3')}),
        })|raw }}
    {{ block('form_message') }}
{% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block collection_widget %}
    {% spaceless %}
        <div class="collection-items">
            {{ block('form_widget') }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}