{% block table %}
    <table class="table table-bordered table-condensed table-striped">

        <thead>
            {% if adminClass.listDisplay %}
                {% if adminClass.listFilter|length > 0 %}
                    <tr>
                        <td colspan="{{ adminClass.listDisplay|length + 1 }}">
                            {% include "ObCmsBundle:List:form_filters.html.twig" %}
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="{{ adminClass.listDisplay|length + 1 }}">
                        {% include "ObCmsBundle:List:row_actions.html.twig" %}
                    </td>
                </tr>

                <tr>
                    <th class="text-center" style="width:20px;"><input id="check-all" type="checkbox"></th>
                    {% block headers %}
                        {% for field in adminClass.listDisplay %}
                            <th>
                                {% if field in adminClass.listSort %}
                                    {{ knp_pagination_sortable(entities, (module ~ '.list_' ~ field)|trans, 'o.' ~ field, [], [], 'ObCmsBundle:Paginator:sortable.html.twig') }}
                                {% else %}
                                    {{ (module ~ '.list_' ~ field)|trans }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    {% endblock %}
                </tr>
            {% else %}
                <tr>
                    <td class="text-center">
                        You should specify which fields to display using the <code>listDisplay</code> param.
                    </td>
                </tr>
            {% endif %}
        </thead>

        {% if adminClass.listDisplay %}
            <tbody>
                {% for entity in entities %}

                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="action-checkbox[{{ entity.id }}]" value="{{ entity.id }}" form="row-actions">
                        </td>

                        {% for k, field in adminClass.listDisplay %}

                            {% if attribute(adminClass, field, [entity]) is defined %}
                                {% set type = varType(attribute(adminClass, field, [entity])) %}
                                {% set value = attribute(adminClass, field, [entity]) %}
                            {% elseif attribute(entity, field) is defined %}
                                {% set type = varType(attribute(entity, field)) %}
                                {% set value = attribute(entity, field) %}
                            {% else %}
                                {% set type = 'string' %}
                                {% set value = 'The field <code>' ~ field ~ '</code> couldn\'t be found.' %}
                            {% endif %}

                            {% include '@ObCms/Table/Cell/' ~ type ~ '.html.twig' %}
                        {% endfor %}
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="{{ adminClass.listDisplay|length + 1 }}" class="text-center">
                            Empty
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}

        {% if entities.paginationData.pageCount > 1 %}
            <tfoot>
                <tr>
                    <td colspan="{{ adminClass.listDisplay|length + 1 }}">
                        <span class="text-muted">
                            {% include "ObCmsBundle:Paginator:count.html.twig" %}
                        </span>
                    </td>
                </tr>
            </tfoot>
        {% endif %}

    </table>

    {% if adminClass.listExport %}
        <div class="pull-right">
            <a href="{{ path('ObCmsBundle_module_export', app.request.query.all|merge({'name': module, 'format': 'xls'})) }}">xls</a>
        </div>
    {% endif %}
{% endblock %}
